doctype html
html(dir='rtl')
  head
    title זה הבית נדלן
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Rubik', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style-many-houses.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/navbar-style.css')
    link(rel='stylesheet', type='text/css', href='css/font/flaticon.css')
  body
    main
      .contai
        // Nav-Bar
      include navbar
      // list of houses
      
      - var values = list;
        each val in values
                
                .kokoaa
                    a.house-link(href='http://localhost:3000/api/houses/' + val.id) 
                            ul.list-group.koko
                            
                                li.list-group-item(style="background-image: url("+val.houseImages[0]+"); background-size:contain; background-repeat:no-repeat; width: 30%; height: 50vh;")
                                li.list-group-item(style='width: 70%')=val.title
                                  ul.list-group.koko
                                    li.list-group-item=val.deal
                                    li.list-group-item=val.types
                                    li.list-group-item=val.area
                                    if parseFloat(val.rooms) > 0
                                        li.list-group-item=val.rooms
                                    li.list-group-item.price=val.price
    h1=length

      
        
                                
                  







      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
      script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')