doctype html
html(dir='rtl')
  head
  title זה הבית נדלן
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Rubik', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  


  .contai#all
    // Nav-Bar
    .up
      include navbar
                    
      // - carousel -
      #catalog-slider.carousel.slide(data-ride='carousel')
        // - indicators dot nov -
        // - wrapper slides -
        .carousel-inner(role='listbox')
          .item.active
                img(src= superList[0].houseImages[0], alt='front', style='height: 90vh; width: 100%;')
                .carousel-caption(style="font-size:20px; background:rgba(0, 0, 0, 0.5); margin-bottom:115px;")=superList[0].price
            
          - var values = superList.slice(1,superList.length);
              each val in values
                .item
                  img(src = val.houseImages[0] , alt='back', style='height: 90vh; width: 100%;')
                  .carousel-caption(style="font-size:20px; background:rgba(0, 0, 0, 0.5);  margin-bottom:115px; padding-bottom:0;")
                    ul(style="list-style:none; padding:0;")
                      li= val.title 
                      li= "אזור: "+val.area
                      li="מחיר : " +val.price+ " שקל"
                      li
                        a.btn.btn-default(href="/api/houses/" + val.id) לך למודעה
      a.left.carousel-control(href='#catalog-slider', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#catalog-slider', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Previous
    // navbar down
    .nav-bar-down
      form.navbar-form.navbar-right(method='GET' action='/search' role='search' style=" color:white; font-size:25px;" )
        .form-group.dropdown( style=" color:white;")
                    | סוג עסקה
                    select.form-control(name='deal'  required )
                          option(value='מכירה') מכירה
                          option(value='השכרה') השכרה
        .form-group.dropdown
                    | סוג נכס
                    select.form-control(name='types'  required )
                          option(value='דירה') דירה
                          option(value='בית פרטי') בית פרטי
                          option(value='קרקע') קרקע
                          option(value='משרד') משרד
        .form-group.dropdown(style="width:20%;" )
                    | אזור
                    br
                    select.form-control(name='area'  required)
                          option(value='מרכז') מרכז
                          option(value='צפון') צפון
                          option(value='דרום') דרום
        .form-group.dropdown(style="width:20%;" )
                    | חדרים
                    br
                    select.form-control(name='rooms' required )
                        option(value='1') 1
                        option(value='1.5') 1.5
                        option(value='2') 2
                        option(value='2.5') 2.5
                        option(value='3') 3
                        option(value='3.5;') 3.5
                        option(value='2.5') 4
                        option(value='3') 4.5
                        option(value='5;') 5
                        option(value='5.5;') 5.5
                        option(value='6;') 6
                        option(value='6.5;') 6.5
                        option(value='7+;') 7+
        .form-group
                    | מחיר מ
                    input.form-control( name='priceRangeLow' type='text'    required)   
                    | מחיר עד
                    input.form-control( name='priceRangeHigh' type='text'  required)              
        input.btn.btn-success( type="submit" aria-label='Left Align' value="חפש")
         
         

    h2(style='width: 100%; text-align: center; margin-top:30px;') פרסומים מקודמים היום
    .new
      - var values = list;
        each val in values
                
                .desc(style='background-image:url('+JSON.stringify(val.houseImages[0])+'); padding:0;') 
                    a.house-link(href='/api/houses/' + val.id, style='width:100%; height:100%;' ) 
                            ul.list-group(style='color:aliceblue; list-style: none; background:rgba(0, 0, 0, 0.25);')
                                li=val.types
                                li=val.price
                                
    h2(style='width: 100%; text-align: center;') אופציות נוספות
    .more
      div
        img(src="https://png.icons8.com/ios/64/000000/apartment.png")
        | דירה
        ul
          li
            a(href='/api/houses/spec/דירה/השכרה') השכרה
          li
            a(href='/api/houses/spec/דירה/מכירה') מכירה
      
      div
        i.fas.fa-home
        | בית פרטי
        ul
          li
            a(href='/api/houses/spec/בית פרטי/השכרה') השכרה
          li
            a(href='/api/houses/spec/בית פרטי/מכירה') מכירה
      div
        span.glyphicon.glyphicon.glyphicon-th-large(aria-hidden='true')
        | קרקע
        ul
          li
            a(href='/api/houses/spec/קרקע/מכירה') מכירה


          // footer

    .footer(style='display:flex; wrap:flex-wrap;')
         
        
          
          .sec
              h4 © 2018 MATTHEW KAMER ALL RIGHTS RESERVED
              
          .social
              iframe(src='https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=208746429729427', width='33%', height='80', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allow='encrypted-media')

   
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
script(src='/javascripts/app.js')
        
      
    



