doctype html
html(dir='rtl')
  head
    title זה הבית נדלן
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Rubik', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style-specific-house.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/navbar-style.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  
    // - navbar
    .up
      include navbar
      
                    
      
      // - carousel
      .main(style='position:relative;')
        
          #catalog-slider.carousel.slide(data-ride='carousel')
            // - indicators dot nov
            ol.carousel-indicators
              li.active(data-target='#catalog-slider', data-slide-to='0')
              li(data-target='#catalog-slider', data-slide-to='1')
              li(data-target='#catalog-slider', data-slide-to='2')

    
            // - wrapper slides
            .carousel-inner(role='listbox')
            
              .item.active
                img(src= houseImages[0], alt='front', style='height: 75vh; width: 100%;')
                .carousel-caption
              - var values = houseImages.slice(1,houseImages.length);
              each val in values
                .item
                  img(src = val , alt='back', style='height: 75vh; width: 100%;')
                  .carousel-caption
                  
            // - controls
            a.left.carousel-control(href='#catalog-slider', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              span.sr-only Previous
            a.right.carousel-control(href='#catalog-slider', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
              span.sr-only Previous
          .text-center.house-spec
              
              h2.title תיאור קצר
                h4  #{title} 
              hr
              div.title(style=" display:flex; flex-wrap: wrap;")
                div(style="width:50%;")
                  h1 סוג
                    h4  #{type} 
                div(style="width:50%;")
                  h1 אזור
                    h4  #{area} 
              hr
              div.title(style=" display:flex; flex-wrap: wrap;")
                div(style="width:50%;")
                  h2.title מחיר
                    h4.price #{price} 
                div(style="width:50%;")
                  if parseFloat(rooms) > 0                     
                    h2.title חדרים
                      h4 #{rooms} 
                
              
              hr
              h2.title מדיה
              div(style=" display:flex; flex-wrap: wrap;")
                - var values = media;
                each val in values
                  div(style="width:50%;")
                    li(style="list-style:none; color:#303030; font-size:20px;")=val
                      span.glyphicon.glyphicon.glyphicon-ok(aria-hidden='true' style=" color:#0FB654;" )
              
              
            
          .map
              #map
            
          .contact.text-center.house-spec2
              div.title(style=" display:flex; flex-wrap: wrap;")
                div(style="width:50%;")
                  h2.title שם
                    h3 יוסי
                div(style="width:50%;")
                  h2.title טלפון
                    h3 0546217559
                div(style="width:50%;")
                  h2.title מאייל
                  h3
                    button.btn.btn-default.btn-success.email
                      a(href='mailto:kamer1989@gmail.com') איימאל למוכר
                div(style="width:50%;")
                  h3.title דרכי קשר נופסים
                    h3 skype:extasy2134

              hr
          script.
            var map;
            function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 32.080198, lng: 34.770212},
            zoom: 15
            });
            }
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAngKksHXZYTUrdKk3FxU1SPQbn5H3kOtA&callback=initMap', async='', defer='')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
      script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')